<ion-header>
  <ion-navbar>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-item *ngIf="isEdited && !hideForm">
    <button ion-button item-right color="secondary" text-center block (click)="deleteEntry()">Remover tarefa</button>
  </ion-item>

  <div *ngIf="!hideForm">
    <form [formGroup]="form" (ngSubmit)="saveEntry()">
      <ion-list>
        <ion-item>
          <ion-input placeholder="Título" [(ngModel)]="titulo" formControlName="titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Sigla" [(ngModel)]="sigla" formControlName="sigla" maxlength="3"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>Data</ion-label>
          <ion-select [(ngModel)]="dias" formControlName="dias">
            <ion-option value="1">Segunda-feira</ion-option>
            <ion-option value="2">Terça-feira</ion-option>
            <ion-option value="3">Quarta-feira</ion-option>
            <ion-option value="4">Quinta-feira</ion-option>
            <ion-option value="5">Sexta-feira</ion-option>
            <ion-option value="6">Sábado</ion-option>
            <ion-option value="0">Domingo</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Data de fim</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dataf" formControlName="dataf" min="2018"></ion-datetime>
        </ion-item> -->
        <ion-item>
          <ion-label>Hora de início</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="horai" formControlName="horai"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Hora de fim</ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="horaf" formControlName="horaf" min={{horai}}></ion-datetime>
        </ion-item>
        <br>
        <ion-item-divider color="primary">
          <ion-label>O horário dura o dia todo</ion-label>
          <ion-toggle [(ngModel)]="diatodo" formControlName="diatodo"></ion-toggle>
        </ion-item-divider>

        <ion-item-divider color="light">
          <ion-label>O horário se repete toda semana</ion-label>
          <ion-toggle [(ngModel)]="repete" formControlName="repete"></ion-toggle>
        </ion-item-divider>
        <ion-item *ngIf="repete">
          <ion-input placeholder="Durante quantos meses?" [(ngModel)]="meses" formControlName="meses"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <button ion-button color="primary" text-center block [disabled]="!form.valid">Salvar</button>
        </ion-item>
      </ion-list>
    </form>
  </div>

</ion-content>


<style>
  ion-list:first-child {
    margin-top: 32px;
  }

  ion-list+ion-list {
    margin-top: 0;
  }
</style>